.logo{
    width : 10vw;
    height : 10vh;
    max-width : 200px;
    max-height : 150px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    
}
.hyperlink{
    display: flex;
    gap: 10px;
    align-items: center;
}
body{
    background-image: url(/views/rencontre.png);
}