<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
    <script src="../controlleur/recap.js" defer></script>
    <title>Profil</title>
</head>
<body>
  <h1>Mon Profil</h1>
  <p id="nom"></p>
  <p id="prenom"></p>
  <p id="datenaissance"></p>
  <p id="genre"></p>
  <p id="ville"></p>
  <p id="email"></p>
  <p id="loisir"></p>
  <div class="sucess">
    <a href="../views/moncompte.html">Déconnexion</a>
    </div>
</body>
</html>